<% include header.ejs %>
<h4 class="text-center" style="color:#337ab7">21天爱上写作</h4>
<form action="/record-activity" method="post" class="main-form">
  <div class="form-group">
    <label for="date">记录时间</label>
    <input type="text" class="form-control" name="date" id="date" readonly>
  </div>
  <div class="form-group">
    <label for="name">笔名</label><img src="images/required.png" class="required"/>
    <label class="text-warning">(首次打卡请先检测笔名是已否被占用)</label>
    <div class="input-group">
      <input type="text" required class="form-control" name="name"><span id="check" class="input-group-addon btn">检测</span>
    </div>
  </div>
  <div class="form-group">
    <label for="title">文章标题</label><img src="images/required.png" class="required"/>
    <input type="text" required class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="word_count">写作字数</label>
    <input type="number" required class="form-control" name="word_count">
  </div>
  <button type="button" id="record_activity" class="btn btn-primary">打卡</button>
</form>

<div id="tips" class="alert alert-info hidden" role="alert">
</div>

<% if(error) {%>
  <p id="error" class="col-xs-12 text-danger"><%= error %></p>
<% } %>

<% include feedback.ejs %>
<% include footer.ejs %>