<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>笔耕不辍</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <style type="text/css">
        header {
            background-color: rgb(255,69,0);
            padding: 10px 15px;
            margin-bottom: 15px;
            color:white;
        }
        .required {
            width: 10px;
            height: 10px;
        }
        .text-stress {
            margin: auto 2px;
            font-size: 1.2em;
            font-weight: bold;
            color:blue;
        }
        .text-warning {
            font-size: 12px;
        }
        .navbar-fixed-bottom{
            position: absolute;
        }
        .main-form {
            padding: 10px;
        }
    </style>
</head>
<body>
<header>
    笔耕不辍
</header>

