<% include header.ejs %>
    <div class="container text-center">
        <img src="/images/success.png">
        <h1>报名成功</h1>
        <br/>
        <h4>亲爱的小伙伴,</h4>
        <h4>请记得每天打卡哈!</h4>
    </div>
<% include footer.ejs %>